[Desktop Entry]
Type=Application
Name=illumination
GenericName=illumination
Comment=Visual App Creation for Android, iOS, HTML5, PyGTK and Flash
Exec=illumination %U
Icon=illumination
Terminal=false
Categories=Development;IDE;
